<div class="container" id="feed">
  <center>
    <% if flash[:message] %>
      <p style="color:green;"> <%= flash[:message] %> </p>
    <% end %>
    <h4><%= @user.name %></h4>
    <% if own_page? %>
      <h5>
        <%= "#{display_credit} in Vendough" %>
        <%= link_to "Add to Fund", add_fund_path, {style: "display: inline", type: "button", class: "btn btn-secondary btn-sm"} %>
      </h5>
      <% if @dealings.empty? %>
        <br>
        <p><b>When you complete a transaction <br>
        they will show up here</b></p>
      <% end %>
    <% else %>
      <a href="/users/<%=@user.id%>/dealings/new" type="button" class="btn btn-primary btn-sm btn-block">Pay or Request</a>
      <br>
      <% if @dealings.empty? %>
        <br>
        <p><b>This contact has not made any Vendough <br>
        transactions yet</b></p>
      <% end %>
    <% end %>



  </center>
  <%= content_tag :div, class: "list-group" do %>
    <%= render partial: '/dealings/dealing_details', collection: @dealings, as: :dealing%>
  <% end %>
</div>
