<% if flash[:message] %>
  <p style="color:green;"> <%= flash[:message] %> </p>
<% end %>

<%# if !own_page? %>
  <h4><%=@user.name unless own_page? %></h4>
<%# end %>

<div class="list-group">
  <%@transactions.each do |transaction|%>
  <a href="/transactions/<%= transaction.id %>" class="list-group-item">
    <p><b><%= transaction.sender_name %></b> paid <b><%= transaction.recipient_name %></b></p>
    <div style="position: absolute; top: 5px; right: 10px; width: 90px; text-align:right;">
      <%= transaction.concise_date %> <span class="glyphicon glyphicon-globe"></span>
    </div>
    <div style="position: absolute; bottom: 20px; right: 10px; width: 150px; text-align:right;">
      <%= number_to_currency(transaction.amount) if own_page? %>
    </div>
    <p> <%= transaction.description %></p>
  </a>
  <%end%>
</div> <!--list-group -->
