<div class="container" id="feed">
  <center>
    <% if flash[:message] %>
      <p style="color:green;"> <%= flash[:message] %> </p>
    <% end %>
    <h4><%= @user.name %></h4>
    <% if own_page? %>
      <%= current_user_pic %>
      <h5>
        <%= "#{display_credit} in Vendough" %>
        <%= link_to "Add to Fund", add_fund_path, {style: "display: inline", type: "button", class: "btn btn-secondary btn-sm add-to-fund"} %>
      </h5>

      <%= render 'dealings/globe_contacts_user' %>

    <% else %>
      <%= other_user_pic(@user) %>
      <br><br>
      <a href="/users/<%=@user.id%>/dealings/new" type="button" class="btn btn-primary btn-sm btn-block ask">Pay or Request</a>
      <br>
    <% end %>
  </center>

  <div class="list-group"></div>

</div>
