<% if flash[:message] %>
  <p style="color:green;"> <%= flash[:message] %> </p>
<% end %>
<div class="container" id="feed">
  <center>
    <h4><%= @user.name %></h4>
    <h5><%="#{number_to_currency(display_credit)} in Vendough" if own_page?%></h5>
  </center>
  <%= content_tag :div, class: "list-group" do %>
    <%= render partial: '/welcome/transaction_details', collection: @transactions, as: :transaction%>
  <% end %>
</div>
