<%= content_tag :div, class: "list-group-item" do %>

  <p><b><%= link_to dealing.sender_name, user_dealings_path(dealing.sender) %></b> <%= charged_or_paid(dealing) %>  <b><%= link_to dealing.recipient_name, user_dealings_path(dealing.recipient)%></b></p>

  <%= content_tag :div, style: place_top_right do %>
    <%= dealing.concise_date %> <span class="glyphicon glyphicon-globe"></span>
  <% end %>

  <%= cost_involved(dealing) do %>
    <b><%= bottom_line(dealing) %></b>
  <% end %>

  <p> <%= dealing.description %></p>

  <%= content_tag :a, "View Details", href: "/dealings/#{dealing.id}", type: "button", class: long_rectangular_block  %>

<% end %>
