<div class="list-group-item">

  <p><b><%= link_to dealing.sender_name, dealing.sender %></b> <%= charged_or_paid(dealing) %>  <b><%= link_to dealing.recipient_name, dealing.recipient%></b></p>
  <div style="position: absolute; top: 10px; right: 15px; width: 90px; text-align:right;">
    <%= dealing.concise_date %> <span class="glyphicon glyphicon-globe"></span>
  </div>
  <% if current_user_involved?(dealing) %>
    <%= content_tag :div, style: format_with_color(dealing) do  %>
      <b><%= plus_or_minus(dealing) %><%= number_to_currency(dealing.amount) %></b>
    <% end %>
  <% end %>
  <p> <%= dealing.description %></p>

  <a href="/dealings/<%=dealing.id%>" type="button" class="btn btn-sm btn-default btn-block">View Details</a>
  <!-- <a href="#"><p class="exchange-link">Go To Exchange</p></a> -->
</div>
