<% if current_user.requests_awaiting_approval_by_others.empty? %>
  <div style="text-align: center" >
    <h4>Requests from you</h4>
    <h5>See your requests for money here <br> while they're awaiting approval.</h5>
  </div>
<% end %>


<div class="container" id="feed">
  <div class="list-group">
    <%@dealings.each do |dealing|%>
    <div class="list-group-item">
      <b> Request to <%= link_to dealing.recipient.name, dealing.recipient %>: <%= number_to_currency(dealing.amount) %></b><br>
      <small style="color: #a8a8a8"><%= dealing.exact_date %></small> <br>
      <p> <%= dealing.description %></p>
      <% if !dealing.tags.empty? %>
        <small>
          <% dealing.tags.each do |tag| %>
            <%= link_to tag.name, "#" %>
          <% end %>
        </small>
      <% end %>
      <br>
      <div class= "actions">
        <%= form_for dealing, method: :delete do |f| %>
          <%= f.submit "Cancel", class: "btn btn-sm btn-default btn-block", onclick: "return confirm('Cancel the request?');"  %>
        <% end %>
      </div>
    </div>
    <%end%>
  </div> <!--list-group -->
</div> <!-- container -->
