<% if current_user.requests_for_money_from_others.empty? %>
  <div style="text-align: center" >
    <h4>Requests to you</h4>
    <h5>Accept/decline requests for money from others here.</h5>
  </div>
<% end %>

<div class="container" id="request">
  <div class="list-group">
    <%@requests.each do |request|%>
    <div class="list-group-item" >
      <b> <%= link_to request.sender_name, request.sender %> requests <%=number_to_currency(request.amount) %></b><br>
      <small style="color: #a8a8a8">  <%= request.exact_date %> </small><br>
      <%= request.description %> <br>
      <% if !request.tags.empty? %>
        <small style="color: #a8a8a8">
          <% request.tags.each do |tag| %>
            <%= tag.name%>
          <% end %>
        </small>
      <% end %>
      <div class= "actions">
        <%= form_for request, method: :delete do |f| %>
          <%= f.submit "Decline", class: "btn btn-sm btn-default", onclick: "return confirm('Decline request?');"  %>
        <% end %>
        <%= form_for request do |f| %>
          <%= f.hidden_field :id %>
          <%= f.submit "Pay", class: "btn btn-sm btn-primary", onclick: "return confirm('Approve request?');" %>
        <% end %>
      </div>

    </div>

    <%end%>
  </div> <!--list-group -->
</div>
