<%= render 'flash_message' %>

<% if current_user.requests_for_money_from_others.empty? %>
  <div style="text-align: center" >
    <h4>Requests to you</h4>
    <h5>Accept/decline requests for money from others here.</h5>
  </div>
<% end %>

<div class="container" id="request">
  <div class="list-group">
    <%@requests.each do |request|%>
    <div class="list-group-item request" >
      <div class="froggy">
        <div>
          <img src=<%=request.sender.avatar_url%> width="60" height="60" style="border-radius:50%">
        </div>
        <div style="padding-left: 17px;">
          <b> <%= link_to request.sender_name, request.sender %> requests <%=number_to_currency(request.amount) %></b><br>
          <small style="color: #a8a8a8">  <%= local_time(request.created_at,'%b %d, %Y %I:%M %p') %> </small><br>
          <%= request.description %>
          <br>
          <%= display_pending_tags(request.tags)%>
        </div>
      </div>

      <div class="actions" style="padding-top: 5px;">
        <%= form_for request, method: :delete do |f| %>
          <%= f.submit "Decline", class: "btn btn-sm btn-default", onclick: "return confirm('Decline request?');"  %>
        <% end %>
        <%= form_for request do |f| %>
          <%= f.hidden_field :id %>
          <%= f.submit "Pay", class: "btn btn-sm btn-primary", onclick: "return confirm('Approve request?');" %>
        <% end %>
      </div>
    </div>
    <%end%>
  </div> <!--list-group -->
</div>
