<div class="container" id="show">
  <div class="list-group-item" >
      <b><%= link_to @dealing.sender_name, @dealing.sender %></b> <%= charged_or_paid(@dealing) %>  <b><%= link_to @dealing.recipient_name, @dealing.recipient%></b>
      <br>
      <small style="color: #a8a8a8">  <%= @dealing.exact_date %> </small>
      <br>
      <%= @dealing.description %>
      <br>
      <%= display_link_tags(@dealing.tags) %>
  </div>
</div>
