<div class="container" id="show">
  <div class="list-group" data-id=<%=@dealing.id%>>
    <div class="list-group-item" >
      <div class="detailed-transaction">
        <div class="participants-pic">
          <img class="sending-person" src=<%=@dealing.sender.avatar_url%> width="60" height="60" style="border-radius:50%">
          <img class="receiving-person" src=<%=@dealing.recipient.avatar_url%> width="40" height="40" style="border-radius:50%">
        </div>
        <b><%= link_to @dealing.sender_name, @dealing.sender %></b> <%= charged_or_paid(@dealing) %>  <b><%= link_to @dealing.recipient_name, @dealing.recipient%></b>
        <br>
        <small style="color: #a8a8a8">  <%= local_time(@dealing.updated_at,'%b %d, %Y %I:%M %p') %> </small>
        <br>
        <%= @dealing.description %>
        <br>
        <%= display_link_tags(@dealing.tags) %>
      </div>
    </div>

    <div class="list-group-item">
      <%= form_for @comments.build do |f| %>
        <%= f.hidden_field :dealing_id %>
        <%= f.text_field :content, placeholder: "Comment" %>
        <%= f.submit "Send", class: "btn btn-sm btn-primary" %>
      <% end %>
    </div>

    <% if !@dealing.comments.empty? %>
      <%= render partial: 'dealing_comments', collection: @dealing.comments[0...-1], as: :comment %>
    <% end %>

  </div>

</div>
