<div class="list-group-item">
  <p><b><%= link_to dealing.loser_name, dealing.loser %></b> paid <b><%= link_to dealing.gainer_name, dealing.gainer%></b></p>
  <div style="position: absolute; top: 10px; right: 15px; width: 90px; text-align:right;">
    <%= dealing.concise_date %> <span class="glyphicon glyphicon-globe"></span>
  </div>
  <% if current_user_involved?(dealing) %>
    <%= content_tag :div, style: format_with_color(dealing) do  %>
      <b><%= plus_or_minus(dealing) %><%= number_to_currency(dealing.amount.abs) %></b>
    <% end %>
  <% end %>
  <p> <%= dealing.description %></p>

  <a href="/dealings/<%=dealing.id%>" type="button" class="btn btn-primary btn-sm btn-block">View Dealing</a>
  <!-- <a href="#"><p class="exchange-link">Go To Exchange</p></a> -->
</div>
