<h4>Pay or Request</h4>

<%= form_for @transaction do |f| %>
  <div class="field" >
    <%= f.label :collector_id, "Select Friend" %> <br>
    <%= f.collection_select :collector_id, User.friends(current_user), :id, :name %>
  </div>

  <div class="field" >
    <%= f.label :amount %> <br>
    <%= f.number_field :amount, value: number_to_currency(f.object.amount.to_f, delimiter: '', unit: ''), step: 0.01 %>
  </div>

  <div class="field" >
    <%= f.label :description, "What is it for?" %><br>
    <%= f.text_area :description %>
  </div>

  <div class= "actions">
    <%= f.submit "Request", formaction: ask_path, class: "btn btn-md btn-primary" %>
    <%= f.submit "Pay", formaction: pay_path, class: "btn btn-md btn-primary" %>
  </div>

<% end %>
