<% if user_signed_in? %>
  <nav class="navbar navbar-default" >
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "vendough", root_path, :class => "navbar-brand active" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!-- main nav links -->
        <ul class="nav navbar-nav">
          <!-- <li class="active"><%#= link_to "Feed", root_path %></li> -->
          <li class="<%= active?(user_path(current_user)) %>"><%= link_to "#{current_user.name} #{display_credit}", user_path(current_user) %></li>
          <li class="<%= active?(contacts_path) %>"><%= link_to "Contacts", contacts_path %></li>
          <li class="<%= active?(new_dealing_path) %>"><%= link_to "Pay/Request", new_dealing_path %></li>
          <li class="<%= active?(incomplete_path) %>"><a href="/dealings/incomplete">Incomplete <span class="badge badge-info"><%=incomplete_count%></span></a></li>
          <li class="<%= active?(pay_requests_path) %>"><a href="/dealings/requests">Requests <span class="badge badge-info"><%=requests_count%></span></a></li>
          <li class="<%= active?(tags_path) %>"><%= link_to "#Hashtags", tags_path %></li>
        </ul>
        <!-- social bar nav links -->
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to("Log out", destroy_user_session_path, :method => "delete") %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<% else %>
  <div class="page-header" id="login">
    <h2 style="color:white"><i>vendough</i></h2>
  </div>
<% end %>
