<% if user_signed_in? %>
  <nav class="navbar navbar-default" >
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Vendough", root_path, :class => "navbar-brand active" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!-- main nav links -->
        <ul class="nav navbar-nav">
          <!-- <li class="active"><%#= link_to "Feed", root_path %></li> -->
          <li class="<%= active?(friends_path) %>"><%= link_to "Friends", friends_path %></li>
          <li class="<%= active?(user_path(current_user)) %>"><%= link_to "My Transactions", user_path(current_user) %></li>
          <li class="<%= active?(new_transaction_path) %>"><%= link_to "Make Transaction", new_transaction_path %></li>
          <li class="<%= active?(incomplete_path) %>"><a href="/transactions/incomplete">Incomplete <span class="badge"><%=incomplete_count%></span></a></li>
          <li class="<%= active?(pay_requests_path) %>"><a href="/transactions/requests">Requests <span class="badge"><%=requests_count%></span></a></li>
        </ul>
        <!-- social bar nav links -->
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "#{current_user.name} $#{display_credit}", root_path %></li>
          <li><%= link_to("Log out", destroy_user_session_path, :method => "delete") %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<% else %>
  <div class="page-header">
    <h2>Vendough <small style="color:gray;">Like Venmo but worse.</small></h2>
  </div>
<% end %>
