<!DOCTYPE html>
<html>
  <head>
    <title>Vendough</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-userid="<%= current_user.id %>">
    <%= render 'layouts/navbar' %>
    <div id="main"><%= yield %></div>
  </body>
</html>
