<div class="container" id="test2">
  <%#- flash.each do |name, msg| -%>
    <%#= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <%#- end -%>
  <h2>Sign up</h2>
  <h4>and get a $25 credit</h4>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-signin") do |f| %>

    <%= devise_error_messages! %>

    <div class="field">
      <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Name", required: true %>
    </div>

    <div class="field">
      <%= f.email_field :email, class: "form-control", placeholder: "Email", required: true %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password", required: true %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm Password", required: true %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
    </div>
    Already have an account? <%= link_to "Log In", new_user_session_path %> <br>
    <%= link_to image_tag('fb_logo.png'), user_facebook_omniauth_authorize_path, alt: "facebook logo" %>
  <% end %>

</div>
